<h1>Introduction to Ruby on Rails</h1>
<pre>
Introduction to Ruby on Rails
42.
Introduction to Section 3 and Ruby on Rails kickoff
6:46
43.
Ruby on Rails kickoff - Text directions and references
0:00
44.
Model, View, Controller and Rails App Structure
19:54
45.
Model, View, Controller and Rails App Structure - Text references
0:00
46.
Learn and practice HTML - Homework Assignment
2:43
Coding Exercise 2:
Create an HTML paragraph element
0:00
Coding Exercise 3:
Create an unordered list
0:00
47.
Route, Controller, Home and Homework Assignment!
16:23
48.
Solution to Homework Assignment
0:00
49.
Root Route, Git and Version Control
15:17
50.
Root Route, Git and Version Control - Text directions and references
0:00
51.
Setup Github Repository
12:24
52.
Setup Github Repository - Text directions and references
0:00
53.
Production Deploy!
12:13
54.
Production Deploy - Text directions, references and code
0:00
55.
CRUD, Scaffold and Wrap Section 3
18:37
56.
CRUD and Scaffold - Text directions, references and code
0:00
Quiz 4:
Rails basics

</pre>
