<h1 align="center">Generators</h1>

<h2>To generate a model named <span style="color:red;">user_stock</span></h2>
    
  <ul> <h3>In the console put the code<span style="color:red;"> rails generate scaffold UserStock user_id:integer stock_id:integer</span> </h3>
    <li>Generates the code <b>resources :user_stocks</b> in config/routes.rb)</li>
    <li>Generates a file named <b>user_stock.rb</b> in /models </li>
    <li>Generates a file named <b>user_stocks_controller.rb</b> in app/controllers/</li>
  </ul>
    
    
    
    
    
    
    
