<section class="github">
    <div>
        <h3>Git commands with bootcamp</h3>
        <ul>
            <li>git clone git@github...</li>
            <li>git stash</li>
            <li>git pull origin</li>
            <li>git reset --hard origin/branchname</li>
            <li>git checkout -b branchname</li>
            
        </ul>
    </div>
</section>