<pre>in gemfile 

group :production do
  gem 'pg'
  gem 'rails_12factor' #What does this do?
end

move gem 'sqlite3' to group :development do




wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh
This code will install the heroku toolbet

heroku -v
This doesnt work use the command under this

heroku
This works

heroku create
This creates your site in heroku

heroku keys:add
will add your ssh key from your IDE to heroku

git push heroku master
Will push your site to production

heroku rename 'put a name eg. practice-movement'
Will rename your url for heroku

heroku run rake db:migrate
This will deploy your migration from your db

heroku run rails console
will run the heroku console

<h1>Prepartion for heroku deploy:</h1>

- Remove sqlite3 gem from top of application to within group :development, :test do block

- Create a group production ->

group :production do

gem 'pg'

gem 'rails_12factor'

end

- Save Gemfile

- Run bundle install --without production to update Gemfile.lock file

- Commit your changes to git repo ->

git add -A

git commit -m "Make app production ready"

Command to install heroku toolbelt to your nitrous environment:

wget -qO- https://toolbelt.heroku.com/install-ubuntu.sh | sh

Check heroku:

heroku -v

heroku version

heroku # for list of common heroku commands

From your app directory:

To login to your heroku account from your nitrous env ->

heroku login

To add your SSH key to your heroku account so you don't have to use username and password everytime ->

heroku keys:add

To create a new production version of your app hosted in heroku ->

heroku create

To push your application code to heroku (deploy your app) ->

git push heroku master

Ensure you have committed all your local changes to your git repo prior to pushing to heroku by checking git status

To change the name of your application ->

heroku rename newnameofyourapp

replace newnameofyourapp above with the name you'd like to give your app

Your app will then be accessible from the following browser URL ->

newnameofyourapp.herokuapp.com
</pre>