<section>
    <table>
        <theader>
        <tr>
            <th>Data type</th><th>example</th>
        </tr>
        </theader>
        <tr>
            <td>:binary</td><td></td>
        </tr>
        <tr>
            <td>:boolean</td><td>True or False</td>
        </tr>
        <tr>
            <td>:date</td>
        </tr>
        <tr>
            <td>:datetime</td>
        </tr>    
        <tr>
            <td>:decimal</td>
        </tr>
        <tr>
            <td>:float</td>
        </tr>
        <tr>
            <td>:bigint</td>
        </tr>
        <tr>
            <td>:primary_key</td>
        </tr>
            <td>:integer</td>
        <tr>
            <td>:references</td>
        </tr>
        <tr>
            <td>:string</td>
        </tr>
        <tr>
            <td>:text</td>
        </tr>
        <tr>
            <td>:time</td>
        </tr>
        <tr>
            <td>:timestamp</td>
        </tr>
            
            
            
        </tr>
    </table>
</section>
